.body2 {
    font-family: 'open sans';
    width: 100%;
    height: 600px;
    background: #ee9ca7;
    /* fallback for old browsers */
    background: linear-gradient(to right, hsla(293, 27%, 38%, 0.308), hsla(304, 36%, 17%, 0.952)), url(../img/Portada.png);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, hsla(306, 46%, 22%, 0.178), hsla(304, 64%, 14%, 0.514)), url(../img/Portada.png);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: cover;
    background-attachment: fixed;
    position: relative;

}

.titulo2 {
    font-size: 55px;
    color: white;
    margin-left: 10px;
    text-shadow: 2px 2px 2px black;
    margin-bottom: 10px;

}

.galeria img {
    box-shadow: 0 8px 10px -4px rgba(0, 0, 0, .6);
    border-radius: 15px;
}

.galeria .col {
    margin-bottom: 20px;
}

